.wrapper {
  width: 100%;
  max-width: 114rem;
  padding-left: $p-5;
  padding-right: $p-5;
  margin-left: auto;
  margin-right: auto;

  &--sm { max-width: 60rem; }
  &--sm-on-md { @include whenMedium { max-width: 60rem; } }
}
