body {
  font-size: 18px;
  font-size: $font-1;
  font-family: $font-body;
  line-height: 1.2;
}

h1,h2,h3,h4,h5,h6 { 
  font-family: $font-header;
  line-height: 1.3;
}

h1 { font-size: $font-6; }
h2 { font-size: $font-4; }
h3 { font-size: $font-2; }
h4, h5, h6 { font-size: $font-1; }

p, li, a {
  line-height: 1.6;
}